@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-image: url('background.png');
}


/* NAV */

nav{
    height: 50px;
    background-color: rgb(4, 80, 80);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
}

nav h4{
    color: white;
    margin: 0 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

nav label{
    display: none;
}

nav input{
    display: none;
}

nav label div{
    height: 2px;
    width: 25px;
    background-color: whitesmoke;
    margin: 5px 25px;
    transition: 0.5s;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    position: relative;
    color: #fcfbfd;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin: 0 14px;
    text-transform: uppercase;
}


/* MAIN */

main{
    padding: 6px;
    max-width: 1200px;
    margin: 0 auto;
}

main section{
    padding: 20px 0;
    margin: 10% 0;
}

main section h3{
    display: flex;
    font-size: 22px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


#welcome img{
    width: 60%;
    display: flex;
    height: auto;
    margin: 20px auto;
}

#welcome p{
    line-height: 2em;
    font-size: 19px;
    margin: 10px auto;
    padding: 10px 20px;
}


#technologies div ul{
    list-style: none;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 100px;
    justify-content: center;
}

#technologies div ul li{
   margin: 16px 0;
   display: grid;
   align-items: center;
   grid-template-columns: 30px 120px 3fr;
}

#technologies div ul li p{
    margin: 0 40px 0 20px;
    font-weight: 600;
}

#technologies .white {
    background-color: white;
    height: 20px;
    justify-content: end;
    color: white;
    text-align: center;
}

#technologies ul li div div{
    background-color: #33303b;
    height: 20px;
}

.gray40 {
   width: 40%;
}
.gray50 {
   width: 50%;
}
.gray60 {
   width: 60%;
}
.gray70 {
   width: 70%;
}
.gray80 {
   width: 80%;
}
.gray90 {
   width: 90%;
}

#technologies div ul li img{
   border-radius: 50%;
   width: 32px;
   height: 32px;
   vertical-align: middle;
}


.projects-container{
    display: flex;
    justify-content: space-between;
}

.projects-container p{
   width: 50%;
   margin: 20px;
   padding: 4px;
   font-size: 18px;
   line-height: 1.6em;
}

.projects-links{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.projects-links a{
    text-decoration: none;
    color: #5a6a96;
    font-size: 18px;
    margin: 8px 4px;
}

.projects-links pre{
    font-size: 18px;
    margin: 8px 4px;
}


#contact form{
    display: grid;
    width: 50%;
    margin: 0 auto;
}

#contact form h4{
    margin-top: 16px;
}

#contact form input{
    margin: 12px 0;
    font-size: 18px;
    line-height: 1.6em;
    padding: 4px;
    border: none;
}

#contact textarea{
    min-width: 100%;
    margin: 12px 0;
    font-size: 18px;
    padding: 4px;
    border: none;
}

#contact input[type=submit]{
    width: 94px;
    padding: 8px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    background-color: #33303b;
}


/* FOOTER  */

footer{
    background-color: #33303b;
    height: 200px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    display: grid;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

footer div{
    display: flex;
    align-items: center;
}

footer div img{
    width: 26px;
    height: auto;
    margin-right: 30px;
}

footer a{
    text-decoration: none;
    color: #5a6a96;
}


/* MOBILE  */

@media (max-width: 780px){
    nav ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 50px;
        right: -100%;
        text-align: center;
        transition: .7s;
        z-index: 10;
        background-color: teal;
        margin: 0;
        text-align: center;
    }

    nav ul li{
        display: block;
        margin: 50% 0;
    }

    nav ul li a{
        font-size: 16px;
        letter-spacing: 0.2px;
    }

    nav label{
        display: block;
    }


    #burger:checked ~ ul{
        right: 0;
        animation-name: toggle-nav;
        animation-duration: 1.6s;
    }

    #burger:checked ~ ul li{
        right: 0;
        animation-name: toggle-nav;
        animation-duration: 1.5s;
    }
    
    #burger:checked ~ label #line1{
        transform: rotate(45deg) translate(4px, -4px);
        transition: 0.5s;
    }
    #burger:checked ~ label #line2{
        display: none;
        transition: 0.5s;
    }
    #burger:checked ~ label #line3{
        transform: rotate(-45deg) translate(8px, -2px);
        transition: 0.5s;
    }


    #welcome p{
        width: 92%;
        font-size: 17px;
        line-height: 1.8em;
        padding: 0;
    }

    #technologies div ul{
        grid-template-columns: 90%;
    }


    .projects-container{
        display: block;
        padding: 0 2%;
    }
    
    .projects-container p{
       width: 100%;
       font-size: 16px;
       margin: 20px 0;
    }

    .projects-links{
        width: 100%;
        column-gap: 8px;
    }

    .projects-links a{
        font-size: 14px;
        margin: 8px 0;
    }

    .projects-links pre{
        font-size: 14px;
        margin: 8px 0;
    }


    #contact form{
        width: 80%;
    }


    footer{
        font-size: 18px;
    }

    footer div img{
        width: 30px;
        margin-right: 20px;
    }
}


@keyframes toggle-nav{
    from {
        opacity: 0.0;
    }
    to{
        opacity: 1;
    }
}